.mediaContainer {
  @include mini-mobile {
//
  }
  @include mini-mobile {
    justify-content: center;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include wide-desktop {
    //max-width: 1350px;
    //margin: 50px auto 0 auto
  }

  .galerie {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  img, video {
    max-width: 300px;
    max-height: 195px;
    min-width: 300px;
    min-height: 195px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  //  width: 350px;
  //  max-width: 100%;
  //  height: 250px;
  //  @include mini-mobile {
  //    width: 300px;
  //    max-width: 100%;
  //    height: 250px;
  //  }
  //  @include desktop {
  //    height: 300px;
  //    width: 350px;
  //  }
  //  object-fit: cover;
  //  border-radius: 5px;
  //  grid-column: 1/span 2;
  //  cursor: pointer;
  }

  figcaption {
    display: flex;
    justify-content: space-between;
  }

  h2, p {
    font-size: 0.88rem;
    color: $secondaryFont;
  }

  p::after {
    content: " \f004";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
  }
}