* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
}

body {
  width: auto;
  margin: auto;
  position: relative;
  max-width: 1256px;
  //@include desktop {
  //  display: flex;
  //  flex-direction: column;
  //  flex-wrap: wrap;
  //}
}

html {
  font-size: 16px;
}

header {
  @include mobile {
    margin-left: 60px;
  }
  @include desktop {
    //max-width: 65%;
    display: flex;
    align-items: baseline;
  }
}

.logo {
  height: 35px;
  vertical-align: bottom;
}

.blockcontainer {
  max-width: 1256px;
  padding: 33px 22px;
}

.home-title {
  height: 93px;
  width: 224px;
  font-size: 0.9em;
  margin: 0;
  color: #901c1c;
  font-weight: 400;
  position: absolute;
  top: 7px;
  right: 7%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include desktop {
    top: 28px;
    font-size: 1.2em;
    right: 2%;
    width: 259px;
  }
  @include moremore {
    font-size: 1.6em;
  }
  @include wide-desktop {
    font-size: 1.9em;
    top: 26px;
    right: 101px;
    width: 300px;
  }
}

.sr-only {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -1000px;
  width: 1px;
  white-space: nowrap
} 