//Variables
$primaryBackground: #901C1C;
$primaryFont: #D3573C;

$secondaryBackground: $primaryFont;
$secondaryFont: $primaryBackground;

$lightTextFont: #525252;
$lightTextBackground: #FAFAFA;

$lightWriting: #a4a1a1;

$tagBorder: #C4C4C4;

$breakpoints: (
        desktop:970px,
        wide-desktop:1248px,
        mini-mobile:470px,
        mobile:800px,
);